# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Panda
2. Matplotlib
3. NumPy

|Data Science Tools|
|------------------|
|Jupyter Notebooks |
|RStudio           |
|Zeppelin Notebooks|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
(3*4)+5  ##This a simple arithmetic expression to mutiply then add integers

17

In [5]:
200/60 ##This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives:**
- R
- Python
- SQL
- Julia

## Author

Yenssi Bu